@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .header>.container {
                display: flex;
                min-width: -webkit-fill-available;
            }

    .section-title3 {
        text-align: center;
    }

    .header{
            padding-top: 25px;
    padding-bottom: 25px;
    }

    .header-link {
        display: block;
        text-align: center;
    }

    .section-item {
        width: 100%;
    }

    .soc-media {
        text-align: center;
    }

    .footer-media{
        margin-top: 72px;
    }

    .subscribe-footer {
        margin-top: 72px;
    }

    .section-list {
        gap: 72px;
        display: flex;
        justify-content: center;
    }

    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .subscribe-text {
        text-align: center;
    }

    .subscribe-wrap {
        flex-wrap: wrap;
    }

    .portfolio>.container {
        max-width: 396px;
    }

    .about-list {
        justify-content: center;
    }
}

        .footer-link {
            display: flex;
                justify-content: center;
        }

@media screen and (min-width: 480px) and (max-width: 767px) {
    .team>.container {
        width: 294px;
    }
}